body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  margin: 20px;
}

nav {
  background: #1f4fd8;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav button {
  float: right;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px;
}

input {
  width: 120px;
}

button {
  margin: 5px 0;
}

.kpis {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.kpi {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.charts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.login-page {
  background: #f5f7fa;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page .login-container {
  background: #ffffff;
  padding: 30px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-page h2 {
  margin-bottom: 20px;
  color: #1f4fd8;
}

.login-page input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-page input:focus {
  outline: none;
  border-color: #1f4fd8;
}

.login-page button {
  width: 100%;
  padding: 10px;
  background: #1f4fd8;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.login-page button:hover {
  background: #183fb5;
}


/* Center ONLY the comparison table on dashboard */
.table-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.table-box table {
  margin-top: 10px;
}

nav button {
  margin-top: -4px;
}

.login-page {
  background: url("1.png") no-repeat center center fixed;
  background-size: cover;
}

